.header-bg{
    background-color: #000;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.header-main-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-left{
    height:20vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left h3{
    color: #fff;
    margin: 0 0 0 10px;
}
.logo-header{
    height: 50px;
    width: 53px;
}
.header-right{
    height:20vh;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    text-decoration: none;
    color: #fff;
}
.active{
    padding: 7px 13px;
    border-radius: 5px;
    background-color: #6c757d;
    color: white;
}
.nav-item:hover{
    color: lightblue;
}
